[k8s_auditor]
training-02 ansible_host=46.225.150.76 ansible_user=training ansible_password=033GfiSQ4rb1j2N%z16-xzRw

[k8s_auditor:vars]
ansible_connection=ssh
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
